{% extends "OCPlatformBundle:Advert:layout.html.twig" %}

{% block title %}{{ parent() }} - Add{% endblock %}

{% block body %}
<section>
    <h2>Chez {{author}} !</h2>
    <p>Add page</p>
  </section>
{% endblock %}