<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Platform Advert Layout{% endblock %}</title>
</head>
<body>
{{ render(controller("OCPlatformBundle:Advert:menu")) }}
{% block body %}{% endblock %}
{% include 'OCPlatformBundle:Advert:footer.html.twig' %}
</body>
</html>